<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Toekank Photo Studio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../public/css/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Marcellus&display=swap" rel="stylesheet">

    <script src='main.js'></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="home-logo" href="/index.html" title="Toekank Photo Studio">
                <img src="../public/img/logo.PNG" alt="logo" width="100px" height="100px">
            </a>
        </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/views/about.html">About</a></li>
                    <li><a href="/views/gallery.html">Gallery</a></li>
                    <li><a href="/views/good-works.html">Good Works</a></li>
                    <li><a href="/views/contacts.html">Contacts</a></li>
                </ul>
            </nav>
    </header>
    
    <main>
        <section>
            <div class="contain-text-img">
                    <img src="../public/img/foto-perfil.webp" alt="Karen" width="100%" height="100%">
                <div class="contain-text">
                    <h2>Sobre Mi</h2>
                    <h5>En pocas palabras</h5>
                    <span class="format-span">Hola, soy Karen. He trabajado como fotógrafo profesional de bodas y eventos durante casi una década y me encanta crear recuerdos duraderos del día especial de las personas. Tengo la habilidad de ser discreta y creativa durante el día, mientras te capturo a ti y a tus invitados luciendo lo mejor posible. Trabajo de la forma que más te convenga y capturo imágenes con el estilo que más te guste. Hablaré contigo extensamente antes de tu evento y me aseguraré de que todo transcurra sin problemas mientras te enganchas. También ofrezco la oportunidad de realizar sesiones de fotos antes o después del día de su boda para crear recuerdos aún más valiosos.</span>
                </div>
            </div>

            <div class="contain-text-img-2">
                <img src="../public/img/foto.jpg" alt="trabajos" width="100%" height="100%">
                <div class="contain-text">
                    <h2>Sobre Mi Trabajo</h2>
                    <h5>Las Sesiones de Fotos</h5>
                    <span class="format-span">¿Quieres la imagen perfecta para tus invitaciones o más tiempo para perfeccionar las poses del día de tu boda, evento social o baby shower? Estoy disponible para fotografiar a usted y a su esposo o esposa en una sesión de fotos privada diseñada para dar vida al romance de su relación. Ponte en contacto conmigo y cuéntame sobre el tipo de fotos que te gustaría tener para recordar ese día por el resto de su vida. Entonces podemos trabajar juntos para crear momentos inolvidables para sus invitaciones o tarjetas de agradecimiento.</span>
                    <p style="line-height: 2;">Disponibles:</p>
                    <p>1. Mini paquete (50 imágenes)</p>
                    <p>2. Paquete mediano (100 de imágenes)</p>
                    <p>3. Paquete Maxi (150 de imágenes)</p>
                    <p style="line-height: 2;">Más información, póngase en contacto conmigo.</p>
                    
                    <div class="button-contacts">
                        <a href="./contacts.html">Contact</a>
                    </div>
            
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer">
            <a class="instagram-logo" href="#" title="Instagram">
                <img src="../public/img/instagram-logo.png" alt="instagram" width="30px" height="30px">
            </a>

            <a class="facebook-logo" href="#" title="facebook">
                <img src="../public/img/facebook-logo.png" alt="facebook" width="30px" height="30px">
            </a>

            <a class="whatsapp-logo" href="#" title="whatsapp">
                <img src="../public/img/whatsapp-logo.png" alt="whatsapp" width="30px" height="30px">
            </a>
        </div>
    </footer>
</body>
</html>
