<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="¡Fotografía Profesional para Eventos Sociales, Casamientos y BabyShowers!">
    <title>Toekank Photo Studio</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Marcellus&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/css/style.css'>

</head>
<body>
    <header class="main-header">
      <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img class="img-fluid" src="../public/img/logo.PNG" alt="Toekank Photo Studio" width="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Toekank Photo Studio</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" href="../views/about.html">Sobre Mí</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/gallery.html">Galería</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/good-works.html">Mejores Trabajos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacts.html">Contacto</a>
                  </li>
                 </ul>
              </div>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <section>
        <div class="text-gw text-center">
            <h4>Lo Que Dicen Mis Clientes Felices</h4>
            <span class="format-span-gw">Good Words</span>
        </div>
        <div class="flex-gw d-flex justify-content-evenly">
            <div class="flex-1 d-flex flex-column">
                <img src="../public/img/Kit-and-Rose.jpg" alt="Kit&Rose" width="100%" height="100%">
                <h4>Kit Harington & Rose Leslie</h4>
                <span>Cuando hablamos por primera vez con Karen, entendió de inmediato el tipo de estilo que buscábamos para nuestra boda. Después de una sola conversación, estábamos seguros de que ella podría entregar el tipo de paquete de fotos que buscábamos. Estamos muy contentos con las fotos que tomó y la recomendaríamos a cualquiera que esté planeando su gran día.</span>
            </div>
            <div class="flex-2 d-flex flex-column">
                <img src="../public/img/chanel.jpg" alt="Chanel" width="100%" height="100%">
                <h4>Chanel</h4>
                <span>Estaremos eternamente agradecidos con Karen por los resultados que ha podido conseguir para plasmar en las fotos el impetú del nuevo aroma de Chanel.</span>
            </div>
        </div>
            <div class="span-gw text-center">
                <span class="format-span-gw-2">Agradecemos cada palabra amable de nuestros clientes. No dude en ponerse en contacto con nosotros para pedir más información.</span>
            </div>

        <div class="button-contacts">
            <a href="./contacts.html">Contacto</a>
        </div>
      </section>
    </main>
    
    <footer>
        <div class="footer d-flex justify-content-center">
            <a class="instagram-logo" href="https://www.instagram.com/" title="Instagram">
                <img src="../public/img/instagram-logo.png" alt="instagram" width="30px" height="30px">
            </a>

            <a class="facebook-logo" href="https://es-la.facebook.com/" title="facebook">
                <img src="../public/img/facebook-logo.png" alt="facebook" width="30px" height="30px">
            </a>

            <a class="whatsapp-logo" href="https://web.whatsapp.com/" title="whatsapp">
                <img src="../public/img/whatsapp-logo.png" alt="whatsapp" width="30px" height="30px">
            </a>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>