<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Toekank Photo Studio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../public/css/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Marcellus&display=swap" rel="stylesheet">

    <script src='main.js'></script>
</head>
<body>
    <header class="main-header">
            <nav class="main-menu">
                <ul>
                    <li><a href="/views/about.html">Sobre Mí</a></li>
                    <li><a href="/views/gallery.html">Galería</a></li>
                    <li><a href="/index.html" title="Toekank Photography">
                        <img src="../public/img/logo.png" alt="logo"   width="100px" height="100px"></a></li>
                    <li><a href="/views/good-works.html">Mejores Trabajos</a></li>
                    <li><a href="/views/contacts.html">Contacto</a></li>
                </ul>
            </nav>
    </header>
    
    <main>
      <section>
        <div class="text-gw">
            <h4>Lo Que Dicen Mis Clientes Felices</h4>
            <span class="format-span-gw">Good Words</span>
        </div>
        <div class="flex-gw">
            <div class="flex-1">
                <img src="../public/img/Kit-and-Rose.jpg" alt="Kit&Rose" width="100%" height="100%">
                <h4>Kit Harington & Rose Leslie</h4>
                <span class="format-span">Cuando hablamos por primera vez con Karen, entendió de inmediato el tipo de estilo que buscábamos para nuestra boda. Después de una sola conversación, estábamos seguros de que ella podría entregar el tipo de paquete de fotos que buscábamos. Estamos muy contentos con las fotos que tomó y la recomendaríamos a cualquiera que esté planeando su gran día.</span>
            </div>
            <div class="flex-2">
                <img src="../public/img/chanel.jpg" alt="Chanel" width="100%" height="100%">
                <h4>Chanel</h4>
                <span class="format-span">Estaremos eternamente agradecidos con Karen por los resultados que ha podido conseguir para plasmar en las fotos el impetú del nuevo aroma de Chanel.</span>
            </div>
        </div>
            <div class="span-gw">
                <span class="format-span-gw-2">Agradecemos cada palabra amable de nuestros clientes. No dude en ponerse en contacto con nosotros para pedir más información.</span>
            </div>

        <div class="button-contacts">
            <a href="./contacts.html">Contacto</a>
        </div>
      </section>
    </main>
    
    <footer>
        <div class="footer">
            <a class="instagram-logo" href="#" title="Instagram">
                <img src="../public/img/instagram-logo.png" alt="instagram" width="30px" height="30px">
            </a>

            <a class="facebook-logo" href="#" title="facebook">
                <img src="../public/img/facebook-logo.png" alt="facebook" width="30px" height="30px">
            </a>

            <a class="whatsapp-logo" href="#" title="whatsapp">
                <img src="../public/img/whatsapp-logo.png" alt="whatsapp" width="30px" height="30px">
            </a>
        </div>
    </footer>
</body>
</html>