* {
    box-sizing: border-box;
}

/* FONTS */

* h2 {
    font-family: "Marcellus", serif;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
}

* h5, h4 {
    font-family: "Marcellus", serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

* h6 {
    font-family: "Marcellus", serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

* p {
    font-size: 18px;
    text-align: center;
}

html,
body {
    margin: 0px;
}

body, main {
    font-family: 'Barlow', sans-serif;    
    background-color: #E6D1D9;
    margin: auto;
}

/*-----------------------------------------------------------------*/

/* INDEX */

.background-index {
    background-image: url(../img/fondo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
}

.text-background {
    font-family: 'Tangerine', serif;
    font-size: 80px;
    text-shadow: 2px 2px 2px #aaa;
    color: #3A3537;
    position: absolute;
    top: 50%;
    left: 10%;
    margin: 0;
}

.main-header {
    background-color: #3A3537;
}

.main-header-top-bar {
    text-align: center;
}

/* MENUS */

.main-menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Marcellus', serif;
}

/* MENU CON FOTOS INDEX */

.contain-menu {
    margin: 50px auto;
    width: 40vw;
    display: grid;
    grid-gap: 10px;
}

.contain-1 {
    grid-row: 2;
    grid-column: 1/3;
    position: relative;
}

.contain-2, .contain-3 {
    position: relative;
}

.contain-1 img, .contain-2 img, .contain-3 img {
    border-radius: 10px;
}

.contain-1 h2, .contain-2 h2, .contain-3 h2 {
    position: absolute;
    color: #ffff;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/*-----------------------------------------------------------------*/
/* ABOUT */

.contain-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 90px 0px;
}

.contain-text-img-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin: 90px 0px;
}

.contain-text-img-2 img {
    border-radius: 10px;
    width: 30vw;
    object-fit: cover;
}

.contain-text-img img {
    border-radius: 10px;
    width: 30vw;
    object-fit: cover;
}

.contain-text {  
    padding: 0px 40px;
    width: 30vw;
    height: inherit;
    overflow: hidden;
}

.contain-text h2, h5 {
    margin: 35px 0px;
}

.format-span {
    text-align: justify;
    font-size: 18px;
}

/* BOTON CONTACTS EN ABOUT*/

.button-contacts {
    border-radius: 5px;
    background-color: #877B80;
    text-align: center;
    margin: 40px auto;
    width: 200px;
    padding: 10px;
}

.button-contacts a {
    text-decoration: none;
    font-family: "Marcellus", serif;
    font-size: 25px;
    color: #000;
}

/*-----------------------------------------------------------------*/
/* GALLERY */

.flex-gallery {
    display: flex;
    justify-content: space-evenly;
}

.gallery-img {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.gallery-img img {
    border-radius: 10px;
}

.gallery-img h4, h6 {
    margin: 5px auto;
}
.section-gallery h2 {
    font-size: 60px;
}

.section-text {
    width: 45vw;
    margin: 0 auto;
}

.section-text h4 {
    font-family: "Marcellus", serif;
    font-size: 45px;
}

.principal-img {
    width: 50vw;
    margin: 50px auto;
}

.principal-img img {
    border-radius: 10px;
}

/*-----------------------------------------------------------------*/

/* GOOD WORKS */

.text-gw {
    text-align: center;
}
.text-gw h4 {
    font-size: 60px;
}

.format-span-gw {
    font-family: "Marcellus", serif;
    text-align: justify;
    font-size: 25px;
    margin: 20px auto;
}

.span-gw {
    text-align: center;
    width: 40vw;
    margin: 100px auto;
}
.format-span-gw-2 {
    font-family: "Marcellus", serif;
    font-size: 45px;
}

.flex-gw {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

.flex-1, .flex-2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.flex-1 img, .flex-2 img {
    border-radius: 10px;
    object-fit: cover;
}

/*-----------------------------------------------------------------*/

/* PIE DE PÁGINA */

.footer {
    display: flex;
    justify-content: center;
    background-color: #877B80;
}

.footer a {
    margin: 10px;
}

/*-----------------------------------------------------------------*/

/* FORMULARIO CONTACTS*/

.text-contacts {
    text-align: center;
    margin: 50px auto;
    width: 30vw;
}

.h5-contacts {
    font-size: 50px;
}

.formulario label {
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    line-height: 50px;
}

.formulario label input {
    font-family: 'Marcellus', serif;
    font-size: 14px; 
    height: 50px;
    width: 300px;
    border: 1px;
    border-style: groove;
}

.formulario div {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.formulario div button {
    margin: 10px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    width: 200px;
    height: 45px;
    background-color: #877B80;
    color: #ffff;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
}

.formulario div input {
    margin: 10px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    width: 200px;
    height: 45px;
    background-color: #877B80;
    color: #ffff;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
}