@media (max-width: 480px){
    .nav-bar > ul {
        flex-direction: column;
        display: none;
    }
    .nav-bar> .fa-bars{
        display: block;
        font-size: 30px;
        color: #E6D1D9;
        text-align: center;
    }
}