.button-contacts {
    @extend %button;

    &:hover {
        background: linear-gradient(90deg, #877B80, #8F7F94);
    }
    a {
        text-decoration: none;
        font-family: "Marcellus", serif;
        font-size: 25px;
        color: #000;
    }
}
