.floating-icon {
  background-color: $background-button-gradient;
  border-radius: 50%;
  border-color: $background-button-gradient;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  i {
    font-size: 36px;
    color: $background-nav;
  }

  &:hover {
    background-color: $background;
    border-color: $background;
  }
}

.btn-primary {
  --bs-btn-active-color: $background;
  --bs-btn-active-bg: $background-button;
  --bs-btn-active-border-color: $background-button;
  
  --bs-btn-bg: $background-button;
  --bs-btn-border-color: $background-button;
  --bs-btn-hover-color: $background;
  --bs-btn-hover-bg: $background-button;
  --bs-btn-hover-border-color: $background-button;

  --bs-btn-disabled-bg: $background-button;
  --bs-btn-disabled-border-color: $background-button;
  --bs-btn-disabled-color: $background;
}

.btn {
  transition: none;
}