.text-contacts {
    text-align: center;
    margin: 50px auto;
    width: 30vw;

    @media (max-width: 767px) {
        width: 60vw;
        margin: 30px auto;
    }
}

.h5-contacts {
    font-size: 45px;

    @media (max-width: 576px) {
        font-size: 30px ;
    }
}

.formulario label {
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    line-height: 50px;
    .input {
        font-family: 'Marcellus', serif;
        font-size: 14px; 
        height: 50px;
        width: 300px;
        border: 1px;
        border-style: groove;
    }
}

.formulario div {
    display: flex;
    justify-content: center;
    margin: 30px auto;

    @media (max-width: 576px) {
        max-width: 60vw;
    }
    button {
        margin: 10px;
        font-family: 'Marcellus', serif;
        font-size: 16px;
        width: 200px;
        height: 45px;
        background-color: #877B80;
        color: #ffff;
        border-radius: 5px;
        border-style: solid;
        border: 1px;
    }
    input {
        margin: 10px;
        font-family: 'Marcellus', serif;
        font-size: 16px;
        width: 200px;
        height: 45px;
        background-color: #877B80;
        color: #ffff;
        border-radius: 5px;
        border-style: solid;
        border: 1px;
        }   
}