.text-contacts {
    margin: 50px auto;
    width: 40vw;

    @media (max-width: 767px) {
        width: 60vw;
        margin: 30px auto;
    }
}

.h5-contacts {
    font-size: 45px;

    @media (max-width: 576px) {
        font-size: 30px ;
    }
}

.form-floating {
    width: 60vw;
    margin: auto;
    .text-msg {
        height: 200px;
    }
}

.botones {
    margin: 30px auto;

    @media (max-width: 576px) {
        max-width: 60vw;
    }
    button {
        @extend %button_form;

        &:hover {
            background: radial-gradient(ellipse,$background-button, $background-button-gradient);
        }
    }
    input {
        @extend %input;

        &:hover {
            background: radial-gradient(ellipse,$background-button, $background-button-gradient);
        }
    }   
}