main {
    grid-area: contain;
    font-family: 'Barlow', sans-serif;    
    background-color: #E6D1D9;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 108px 1fr 50px;
    grid-template-areas: 
        "header header header"
        "contain contain contain"
        "footer footer footer";
}