.main-header {
    grid-area: header;
    background-color: #3A3537;
    .navbar {
        background-color: #3A3537 !important;
        .img-fluid:hover {
            scale: 1.05;
        }
        .nav-link {
            color: white;
            font-family: "Marcellus", serif;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}