.main-header {
    grid-area: header;
    background-color: $background-nav;
    .navbar {
        background-color: $background-nav !important;
        .img-fluid:hover {
            scale: 1.05;
        }
        .nav-link {
            color: white;
            font-family: $font-title;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}