h2 {
    @media (max-width: 767px) {
        font-size: 35px;;
    } 

    @media (max-width: 567px) {
        font-size: 25px;;
    } 
}
.button-contacts {
    color: white;
}
.row {
    margin: auto;
}