.btn-primary {
    
    background-color: $background-button;
    border-color: $background-button;

    &:hover {
        background: linear-gradient(90deg, $background-button, $background-button-gradient);
        border-color: $background-button;
    }
}