$background: #E6D1D9;
$background-nav: #3A3537;
$background-button: #877B80;
$background-button-gradient: #8F7F94;
$font-gral: 'Barlow', sans-serif;
$font-title: "Marcellus", serif;
$font-subtitle: 'Tangerine', serif;