@import "reset";
@import "fonts";
@import "global";
@import "navbar";
@import "headerIndex";
@import "menuIndex";
@import "menuAbout";
@import "buttonContacts";
@import "menuGallery";
@import "menuGoodWorks";
@import "footer";

/* MEDIA QUERIES */
@media (max-width: 576px) {
    .contain-1 h2, .contain-2 h2, .contain-3 h2 {
        font-size: 25px !important;
    }
    .flex-gallery {
        flex-direction: column;
        align-items: center;
    }
    .gallery-img {
        width: 60vw !important;
    }
    .text-contacts {
        width: 60vw !important;
    }
    .text-gw h4 {
        font-size: 30px !important;
    }
    .flex-gw {
        flex-direction: column;
        align-items: center;
        margin: auto !important;
    }
    .flex-1, .flex-2 {
        width: 60vw !important;
    }
    span {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .flex-1 h4, .flex-2 h4 {
        margin: 10px;
    }
    .navbar-toggler-icon {
        margin: 0;
    }
}
@media (max-width: 767px) {
    .contain-menu{
        display: flex !important;
        flex-direction: column;
    }
    .text-background {
        font-size: 50px;
    }
    .background-index {
        height: 50vh;
        background-attachment: unset;
    }
    .flex {
        display: flex !important;
        flex-direction: column;
        margin: 20px !important;
    }
    .grid-img-1, .grid-img-2 {
        width: 50vw !important;
    }
    .section-text {
        margin: 20px auto !important;
    }
    .section-text h4 {
        font-size: 30px !important;
    }
    .section-gallery h2 {
        font-size: 45px !important;
    }
    .span-gw {
        width: 60vw !important;
        margin: auto !important;
    }
    .format-span-gw-2 {
        font-size: 25px !important;
    }
}

/* PIE DE PÁGINA */

/*-----------------------------------------------------------------*/

/* FORMULARIO CONTACTS*/

.text-contacts {
    text-align: center;
    margin: 50px auto;
    width: 30vw;
}

.h5-contacts {
    font-size: 45px;
}

.formulario label {
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    line-height: 50px;
}

.formulario label input {
    font-family: 'Marcellus', serif;
    font-size: 14px; 
    height: 50px;
    width: 300px;
    border: 1px;
    border-style: groove;
}

.formulario div {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.formulario div button {
    margin: 10px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    width: 200px;
    height: 45px;
    background-color: #877B80;
    color: #ffff;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
}

.formulario div input {
    margin: 10px;
    font-family: 'Marcellus', serif;
    font-size: 16px;
    width: 200px;
    height: 45px;
    background-color: #877B80;
    color: #ffff;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
}